<section >
<div class="container-profile">
    <h1 class="heading"><span>meet </span>Our Team</h1>

    <div class="profiles">
      <div class="profile">
        <img src="assets/images/DSC_0429 copy.jpg" class="profile-img">

        <h3 class="user-name">Prayas Dhand</h3>
        <h5>Student</h5>
        <p>Dedicated And Devoted Undergraduate Student pursued Graduation
             in Bachelor's of Technology in Computer Science Engineering with Specialiazation in Android App Development from Rayat Bahra Unversity , Mohali </p>
      </div>
      <div class="profile">
        <img src="assets/images/kavyansh.png" class="profile-img">

        <h3 class="user-name">Kavyansh Singh</h3>
        <h5>Student</h5>
        <p>Passionate Undergraduate Student currently persuing Bachelor's Of Technology in Technocrats Institute of Technology, Bhopal</p>
      </div>
      
    </div>
  </div>
  </section>
  