<section class="outer">
    <div class="container">
    <div class="card">
        <h4 class="card-title">My Library</h4>
        <div class="card-table">
            <div class="library-product">
                <table class="table table-response">
                    <thead>
                        <tr style="border: 3px; column-span: 4;">
                            <th>Sr.No</th>
                            <th>Book Name</th>
                            <th>Book Image</th>
                            <th>Author Name</th>
                           
                            <th>Price</th>
                            <th>Action</th>
                        </tr>
                        
                    </thead>
                    <tbody>
                        <tr style =" border: 3px;" *ngFor="let book of books; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{book.bookName}}</td>
                            <td><img style="height: 200px; width: 200px;" src="{{book.path}}"/></td>
                            <td>{{book.authorName}}</td>
                            
                            <td>{{book.price}}</td>
                            <td>
                                <button (click)="removeLibraryItem(book)" class="btn btn-danger" style="margin: 3px;"><i class="fas fa-trash-alt"></i></button>
                                <a  class="btn btn-danger" style="margin: 3px;" href ="https://www.amazon.com/kindle-dbs/hz/bookshelf/prime?pf_rd_m=ATVPDKIKX0DER&storeType=ebooks&pageType=STOREFRONT&pf_rd_p=&pf_rd_r=9SM86E8P4ASJYDZPV2E4&pf_rd_s=merchandised-slot-0&pf_rd_t=&ref_=dbs_f_def_rwt_ntry_ms0_kmw_2&pf_rd_i="><i class="fas fa-book-open"></i></a>
                            </td>
                        </tr>
                       
                    </tbody>
                   
                </table>
                
            </div>
            <button style="height: 20px; width: 100px; block-size: 50px; margin: 30px; align-items:center; color: crimson; background-color:black; font-weight: bolder;" routerLink="/books">Add More</button>
            <button (click)="showSuccess()" style="height: 20px; width: 100px; block-size: 50px; margin: 30px; align-items:center; color: crimson; background-color:black; font-weight: bolder;">Place Order</button>

    </div>
    
</div>

</div>




</section>



