.outer {
  height: 300vh;
  background: #c31432; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #240b36,
    #c31432
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #240b36,
    #c31432
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.panel-heading {
  color: #c31432;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}
#forget {
  min-width: 100px;
  margin-left: auto;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: none;
}
.form-inline label {
  padding-left: 20px;
  margin: 0;
  cursor: pointer;
}
.btn {
  margin-top: 20px;
  border-radius: 20px;
}

.panel {
  min-height: 300px;
  box-shadow: 20px 20px 80px;
  border-radius: 15px;
  margin-top: 100px;
  margin-left: 100px;
}
.input-field {
  border-radius: 5px;
  padding: 5px;
  display: flexbox;
  align-items: self-end;
  cursor: pointer;
  border: 1px solid #ddd;
  color: cadetblue;
}
.input-field.error {
  border: 1px solid red;
  color: red;
}
input[type='text'] input[type='password'] {
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: auto;
  background: #f2f2f2;
  padding: 12px;
  border-radius: 1px;
  width: 300px;
  font-size: 14px;
}
.fa-eye-slash.btn {
  border: none;
  height: 40px;
  box-shadow: none;
  align-items: flex-end;
}
img {
  width: 50px;
  height: 50px;
  object-fit: contain;

  position: relative;
}
.bordert {
  border-top: 1px solid #aaa;
  position: relative;
}
.bordert:after {
  content: 'or connect with';
  position: absolute;
  top: -13px;
  left: 40%;
  background-color: white;
  padding: 0 8px;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: -webkit-linear-gradient(
    to right,
    #240b36,
    #c31432
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #240b36,
    #c31432
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  align-items: center;
  padding: 1rem 7%;
  justify-content: space-between;
  z-index: 1000;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html {
  font-size: 70%;
  overflow-x: hidden;
  scroll-padding-top: 5.5rem;
  scroll-behavior: smooth;
}

header.logo i {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 5rem;
  border-radius: 0.5rem;
  padding: 0.2rem 1rem;
  color: white;
}
:root {
  --dark: #c31432;
}
header .navbar a {
  font-size: 1.5rem;
  border-radius: 0.5rem;
  padding: 0.2rem 1rem;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header.fas fa-book-open {
  color: #c31432;
}
header .navbar a.active,
header .navbar a:hover {
  color: white;
  background: linear-gradient(to right, #240b36, #c31432);
}
header .icons i,
header .icons a {
  cursor: pointer;
  margin-left: 0.5rem;
  height: 5rem;
  line-height: 4.5rem;
  width: 5rem;
  text-align: center;
  font-size: 1.7rem;
  color: black;
  border: black;
  border-radius: 50%;
  background: #f2994a;
}
header .icons i:hover,
header .icons a:hover {
  color: white;
  background: linear-gradient(to right, #240b36, #c31432);
  transform: rotate(360 deg);
}
section {
  padding: 5rem 5%;
  background: linear-gradient(to right, #240b36, #c31432);
}
.dashboard .dashboard-slider .slide {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding-top: 10rem;
}
section:nth-child(even) {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(255, 19, 120, 1) 0%,
    rgba(0, 0, 0, 1) 90.5%
  );
}
.dashboard .dashboard-slider .slide .content {
  flex: 1 1 45rem;
}
.dashboard .dashboard-slider .slide .slideimage img {
  width: 100%;
  height: 20%;
}
.dashboard .dashboard-slider .slide .content span {
  color: #f2994a;
  font-size: 2.5rem;
  margin-bottom: 5px;
}
.dashboard .dashboard-slider .slide .content h3 {
  color: #f2994a;
  font-size: 6rem;
  margin-top: 20px;
}
.dashboard .dashboard-slider .slide .content p {
  color: black;
  font-weight: bolder;
  font-size: 3rem;
  padding: 5rem 0;
  line-height: 1.5rem;
}
.orderbtn {
  margin-top: 1rem;
  display: inline-block;
  font-size: 3rem;
  color: #c31432;
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 0.8rem 3rem;
}
orderbtn:hover {
  background: #c31432;
  letter-spacing: 0.1rem;
}
.sub-heading {
  text-align: center;
  color: darkorange;
  font-size: 5rem;
  font-weight: bolder;
  padding-top: 2rem;
}
.heading {
  text-align: center;
  color: black;
  font-size: 3rem;
  padding-bottom: 3rem;
  text-transform: uppercase;
}
.books .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 2fr));
  gap: 2rem;
}
.books .box-container .box {
  padding: 5rem;
  background: white;
  border-radius: 0.5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.5);
  box-shadow: #240b36;
  position: relative;

  overflow: hidden;
  text-align: center;
}
.books .box-container .box .fa-heart,
.books .box-container .box .fa-eye {
  position: absolute;
  top: 1.5rem;
  background: #f2994a;
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  color: black;
}
.books .box-container .box .fa-heart {
  right: -15rem;
}
.books .box-container .box .fa-eye {
  left: -15rem;
}
.books .box-container .box .btn {
  color: black;
  border-radius: 1rem;
  font-size: medium;
  font-weight: bolder;
  background-color:linear-gradient(to right, #240b36, #c31432); 
}
.books .box-container .box img {
  height: 70%;
  width: 100%;
}
.books .box-container .box h3 {
  color: black;
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin: 5px;
}
.books .box-container .box .stars {
  color: #c31432;
  padding: 1rem 0;
}
.books .box-container .box .stars i {
  font-size: 2rem;
  color: #c31432;
}
.books .box-container .box .btn:hover {
  background-color:red;
}

section .books {
  background-image: radial-gradient(
    circle farthest-corner at 83.7% 4.3%,
    rgba(173, 0, 171, 1) 0%,
    rgba(15, 51, 92, 1) 90%
  );
}

.land {
  height: 1000vh;
  background: linear-gradient(to right, #240b36, #c31432);
}
.main {
  width: 100%;
  height: 100%;
  position: relative;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 30px;
  background-color: linear-gradient(to right, #240b36, #c31432);
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 514);
  z-index: 1;
  position: fixed;
  left: 0px;
  top: 0px;
}
nav ul {
  display: flex;
  margin: 0;
  padding: 0;
}
.navbar ul li a {
  height: 40px;
  line-height: 43px;
  margin: 8px;
  padding: 0px 10px;
  display: flex;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  color: black;
  letter-spacing: 1px;
  transition: 0.3s ease-in-out;
}
.navbar ul li a:hover {
  border-radius: 2px;
  background-color: linear-gradient(to right, #240b36, #c31432);
  color: white;
  box-shadow: 2px 2px 20px linear-gradient(to right, #240b36, #c31432);
}
nav .menu-btn {
  display: none;
}
.header-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 90%;
}
.header-image {
  width: 500px;
  height: 300px;
  margin-top: 100px;
}
.header-image img {
  width: 600px;
  height: 450px;
  object-fit: contain;
  object-position: center;
}
.header-text {
  width: 500px;
  margin: 20px;
}
.header-text h1 {
  font-size: 3rem;
  line-height: 55px;
  color: white;
  letter-spacing: 1px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  margin-top: 50px;
}
.header-text p {
  font-size: 2rem;
  color: gold;
  font-family: 'Montserrat', sans-serif;
}
.header-text span {
  color: aqua;
  text-decoration: underline;
}
.header-btn {
  width: 150px;
  height: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: bolder;
  font-family: 'Montserrat', sans-serif;
  justify-content: center;
  background-color: cyan;
  color: black;
  box-shadow: 2px 2px 10px;
  transition: 0.3s ease-in-out;
  text-transform: uppercase;
  margin-top: 20px;
  border-radius: 3px;
}
.header-btn:hover {
  border-radius: 2px;
  background-color: linear-gradient(to right, #240b36, #c31432);
  color: black;
  box-shadow: 2px 2px 20px linear-gradient(to right, #240b36, #c31432);
}
.toggle {
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;

  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
  filter: invert(1);
}
.admin-main {
  width: 100%;
  height: 100%;
  position: relative;
}
.card{
  height: 250vh;
  margin: 30px;
  padding: 25px;
  
}
h4{
  text-align: center;
  font-weight: bolder;
}
.card-table{
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: none;
  word-wrap: break-word;
  background-color: white;
  background-clip: border-box;
  border: 3px solid rgba(0, 0, 0, 2);
  border-radius: .25rem;
}
.example-spacer {
  flex: 2 1 auto;
  margin: 10px;
  margin-left: 100px;
  
}
mat-form-field{
  width: 100%;

}
table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}
section .mat-toolbar{
  width: 100%;
  height: 50%;
 align-items: center;

}

/* 
@media only screen and (max-width: 600px) {
  body {
    font-size: 16px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {
  body {
    font-size: 18px;
  } */
/* } 
 @media only screen and (min-width: 768px) {
  body {
    font-size: 20px;
  }
}  */
/* 
@media only screen and (min-width: 992px) {
  body {
    font-size: 22px;
  }
}  */ 

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* based on angular-toastr css https://github.com/Foxandxss/angular-toastr/blob/cb508fe6801d6b288d3afc525bb40fee1b101650/dist/angular-toastr.css */

/* position */
.toast-center-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.toast-top-center {
  top: 0;
  right: 0;
  width: 100%;
}
.toast-bottom-center {
  bottom: 0;
  right: 0;
  width: 100%;
}
.toast-top-full-width {
  top: 0;
  right: 0;
  width: 100%;
}
.toast-bottom-full-width {
  bottom: 0;
  right: 0;
  width: 100%;
}
.toast-top-left {
  top: 12px;
  left: 12px;
}
.toast-top-right {
  top: 12px;
  right: 12px;
}
.toast-bottom-right {
  right: 12px;
  bottom: 12px;
}
.toast-bottom-left {
  bottom: 12px;
  left: 12px;
}

/* toast styles */
.toast-title {
  font-weight: bold;
}
.toast-message {
  word-wrap: break-word;
}
.toast-message a,
.toast-message label {
  color: #FFFFFF;
}
.toast-message a:hover {
  color: #CCCCCC;
  text-decoration: none;
}
.toast-close-button {
  position: relative;
  right: -0.3em;
  top: -0.3em;
  float: right;
  font-size: 20px;
  font-weight: bold;
  color: #FFFFFF;
  text-shadow: 0 1px 0 #ffffff;
  /* opacity: 0.8; */
}
.toast-close-button:hover,
.toast-close-button:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
}
/*Additional properties for button version
 iOS requires the button element instead of an anchor tag.
 If you want the anchor version, it requires `href="#"`.*/
button.toast-close-button {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
}
.toast-container {
  pointer-events: none;
  position: fixed;
  z-index: 999999;
}
.toast-container * {
  box-sizing: border-box;
}
.toast-container .ngx-toastr {
  position: relative;
  overflow: hidden;
  margin: 0 0 6px;
  padding: 15px 15px 15px 50px;
  width: 300px;
  border-radius: 3px 3px 3px 3px;
  background-position: 15px center;
  background-repeat: no-repeat;
  background-size: 24px;
  box-shadow: 0 0 12px #999999;
  color: #FFFFFF;
}
.toast-container .ngx-toastr:hover {
  box-shadow: 0 0 12px #000000;
  opacity: 1;
  cursor: pointer;
}
/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/info-circle.svg */
.toast-info {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCA1MTIgNTEyJyB3aWR0aD0nNTEyJyBoZWlnaHQ9JzUxMic+PHBhdGggZmlsbD0ncmdiKDI1NSwyNTUsMjU1KScgZD0nTTI1NiA4QzExOS4wNDMgOCA4IDExOS4wODMgOCAyNTZjMCAxMzYuOTk3IDExMS4wNDMgMjQ4IDI0OCAyNDhzMjQ4LTExMS4wMDMgMjQ4LTI0OEM1MDQgMTE5LjA4MyAzOTIuOTU3IDggMjU2IDh6bTAgMTEwYzIzLjE5NiAwIDQyIDE4LjgwNCA0MiA0MnMtMTguODA0IDQyLTQyIDQyLTQyLTE4LjgwNC00Mi00MiAxOC44MDQtNDIgNDItNDJ6bTU2IDI1NGMwIDYuNjI3LTUuMzczIDEyLTEyIDEyaC04OGMtNi42MjcgMC0xMi01LjM3My0xMi0xMnYtMjRjMC02LjYyNyA1LjM3My0xMiAxMi0xMmgxMnYtNjRoLTEyYy02LjYyNyAwLTEyLTUuMzczLTEyLTEydi0yNGMwLTYuNjI3IDUuMzczLTEyIDEyLTEyaDY0YzYuNjI3IDAgMTIgNS4zNzMgMTIgMTJ2MTAwaDEyYzYuNjI3IDAgMTIgNS4zNzMgMTIgMTJ2MjR6Jy8+PC9zdmc+");
}
/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/times-circle.svg */
.toast-error {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCA1MTIgNTEyJyB3aWR0aD0nNTEyJyBoZWlnaHQ9JzUxMic+PHBhdGggZmlsbD0ncmdiKDI1NSwyNTUsMjU1KScgZD0nTTI1NiA4QzExOSA4IDggMTE5IDggMjU2czExMSAyNDggMjQ4IDI0OCAyNDgtMTExIDI0OC0yNDhTMzkzIDggMjU2IDh6bTEyMS42IDMxMy4xYzQuNyA0LjcgNC43IDEyLjMgMCAxN0wzMzggMzc3LjZjLTQuNyA0LjctMTIuMyA0LjctMTcgMEwyNTYgMzEybC02NS4xIDY1LjZjLTQuNyA0LjctMTIuMyA0LjctMTcgMEwxMzQuNCAzMzhjLTQuNy00LjctNC43LTEyLjMgMC0xN2w2NS42LTY1LTY1LjYtNjUuMWMtNC43LTQuNy00LjctMTIuMyAwLTE3bDM5LjYtMzkuNmM0LjctNC43IDEyLjMtNC43IDE3IDBsNjUgNjUuNyA2NS4xLTY1LjZjNC43LTQuNyAxMi4zLTQuNyAxNyAwbDM5LjYgMzkuNmM0LjcgNC43IDQuNyAxMi4zIDAgMTdMMzEyIDI1Nmw2NS42IDY1LjF6Jy8+PC9zdmc+");
}
/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/check.svg */
.toast-success {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCA1MTIgNTEyJyB3aWR0aD0nNTEyJyBoZWlnaHQ9JzUxMic+PHBhdGggZmlsbD0ncmdiKDI1NSwyNTUsMjU1KScgZD0nTTE3My44OTggNDM5LjQwNGwtMTY2LjQtMTY2LjRjLTkuOTk3LTkuOTk3LTkuOTk3LTI2LjIwNiAwLTM2LjIwNGwzNi4yMDMtMzYuMjA0YzkuOTk3LTkuOTk4IDI2LjIwNy05Ljk5OCAzNi4yMDQgMEwxOTIgMzEyLjY5IDQzMi4wOTUgNzIuNTk2YzkuOTk3LTkuOTk3IDI2LjIwNy05Ljk5NyAzNi4yMDQgMGwzNi4yMDMgMzYuMjA0YzkuOTk3IDkuOTk3IDkuOTk3IDI2LjIwNiAwIDM2LjIwNGwtMjk0LjQgMjk0LjQwMWMtOS45OTggOS45OTctMjYuMjA3IDkuOTk3LTM2LjIwNC0uMDAxeicvPjwvc3ZnPg==");
}
/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/exclamation-triangle.svg */
.toast-warning {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCA1NzYgNTEyJyB3aWR0aD0nNTc2JyBoZWlnaHQ9JzUxMic+PHBhdGggZmlsbD0ncmdiKDI1NSwyNTUsMjU1KScgZD0nTTU2OS41MTcgNDQwLjAxM0M1ODcuOTc1IDQ3Mi4wMDcgNTY0LjgwNiA1MTIgNTI3Ljk0IDUxMkg0OC4wNTRjLTM2LjkzNyAwLTU5Ljk5OS00MC4wNTUtNDEuNTc3LTcxLjk4N0wyNDYuNDIzIDIzLjk4NWMxOC40NjctMzIuMDA5IDY0LjcyLTMxLjk1MSA4My4xNTQgMGwyMzkuOTQgNDE2LjAyOHpNMjg4IDM1NGMtMjUuNDA1IDAtNDYgMjAuNTk1LTQ2IDQ2czIwLjU5NSA0NiA0NiA0NiA0Ni0yMC41OTUgNDYtNDYtMjAuNTk1LTQ2LTQ2LTQ2em0tNDMuNjczLTE2NS4zNDZsNy40MTggMTM2Yy4zNDcgNi4zNjQgNS42MDkgMTEuMzQ2IDExLjk4MiAxMS4zNDZoNDguNTQ2YzYuMzczIDAgMTEuNjM1LTQuOTgyIDExLjk4Mi0xMS4zNDZsNy40MTgtMTM2Yy4zNzUtNi44NzQtNS4wOTgtMTIuNjU0LTExLjk4Mi0xMi42NTRoLTYzLjM4M2MtNi44ODQgMC0xMi4zNTYgNS43OC0xMS45ODEgMTIuNjU0eicvPjwvc3ZnPg==");
}
.toast-container.toast-top-center .ngx-toastr,
.toast-container.toast-bottom-center .ngx-toastr {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
.toast-container.toast-top-full-width .ngx-toastr,
.toast-container.toast-bottom-full-width .ngx-toastr {
  width: 96%;
  margin-left: auto;
  margin-right: auto;
}
.ngx-toastr {
  background-color: #030303;
  pointer-events: auto;
}
.toast-success {
  background-color: #51A351;
}
.toast-error {
  background-color: #BD362F;
}
.toast-info {
  background-color: #2F96B4;
}
.toast-warning {
  background-color: #F89406;
}
.toast-progress {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  background-color: #000000;
  opacity: 0.4;
}
/* Responsive Design */
@media all and (max-width: 240px) {
  .toast-container .ngx-toastr.div {
    padding: 8px 8px 8px 50px;
    width: 11em;
  }
  .toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em;
  }
}
@media all and (min-width: 241px) and (max-width: 480px) {
  .toast-container .ngx-toastr.div {
    padding: 8px 8px 8px 50px;
    width: 18em;
  }
  .toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em;
  }
}
@media all and (min-width: 481px) and (max-width: 768px) {
  .toast-container .ngx-toastr.div {
    padding: 15px 15px 15px 50px;
    width: 25em;
  }
}